### Question 1: Define a variable named `age` and assign it the value 15.

In [5]:
# Write your code here

### Question 2: What data type is the variable `name` if it stores the value "Alice"? Print the type of `name` variable.

In [6]:
# Write your code here

### Question 3: Define a variable `height` with a float value of 5.9.

In [7]:
# Write your code here

### Question 4: Convert a string `"25"` into an integer and print the type of it.

In [8]:
# Write your code here

### Question 5: Create a variable `grades` and assign it a list of integers `[85, 90, 92, 88, 95]`.

In [9]:
# Write your code here

### Question 6: Create two variables `var1 = '123'` and `var2 = 123`. Print the result of `var1 == var2`

In [10]:
# Write your code here

### Question 7: Create a list named `fruits` containing strings "apple", "banana", and "cherry". Print the list and check its data type.

In [11]:
# Write your code here

### Question 8: Create a tuple named `colors` containing strings "red", "green", and "blue". Print the tuple and check its data type.

In [12]:
# Write your code here

### Question 9: Create a set named `countries` containing strings "USA", "India", and "Japan". Print the set and check its data type.

In [13]:
# Write your code here

### Question 10: Create a dictionary named `person` with keys "name" and "age" and their corresponding values "Alice" and 25. Print the dictionary

In [14]:
# Write your code here